$font: "Assistant", sans-serif;
$font2: "SegoeUIEmoji", sans-serif;
$white: #ffffff;
$orange: #e37222;
$light-orange: #eeaa79;
$blue: #00b7bd;
$grey: #8d8b87;
$grey2: #8c8a86;
$light-grey: #b4b4b3;
$dark-grey: #565656;
$grey-border: #e6e6e6;
$blue-border: #55cfd3;
$table-border: #f8f8f9;
$btn: #eeaa79;
